*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: maroon;
}

.container{
    width: 80%;
    min-height: 100vh;
    background-color: white;
    margin: auto;
    padding: 100px 50px;
}
.container h2{
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}
#numberOfWord{
    background-color: white;
    padding: 10px;
    width: 80%;
  
    outline: none;
    overflow: auto;
    font:100 1.3rem;
    border: 1px solid rgb(107, 104, 104);
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance:none;
}
button{
    color: white;
    cursor: pointer;
    padding: 20px;
    border: none;
    width: 20%;
    transition: background-color 0.7s;
}
button:hover{
    background-color: rgb(182, 11, 11);
}

.para{
    background-color: rgb(205, 205, 205);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    word-spacing: 5px;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
  overflow-wrap: break-word;
}